<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    
    <display-name>Legacy AngularJS Servlet Application</display-name>
    
    <!-- Servlet Definitions -->
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.legacy.app.servlet.UserServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>com.legacy.app.servlet.ProductServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>com.legacy.app.servlet.WelcomeServlet</servlet-class>
    </servlet>
    
    <!-- Servlet Mappings -->
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/api/users/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/api/products/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    
    <!-- Default Servlet for static content -->
    <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
        <init-param>
            <param-name>dirAllowed</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <!-- Welcome files -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
    <!-- MIME mappings -->
    <mime-mapping>
        <extension>html</extension>
        <mime-type>text/html</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>js</extension>
        <mime-type>application/javascript</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>css</extension>
        <mime-type>text/css</mime-type>
    </mime-mapping>
    
    <!-- Error pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/index.html</location>
    </error-page>
    
</web-app>
